.page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 90%;
  margin: auto;
  padding: 20px;
}

.card {
  margin: 20px;
  border: 1px solid #e8e8e8;
  width: 300px;
  border-radius: 5px;
}

.card-body {
  padding: 20px;
}

.user-body-detail {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.user-body-detail-text {
  text-align: center;
  margin: 5px;
}

.image {
  width: 100%;
  max-height: 200px;
  background-color: #f5f5f5;
}